In [39]:
from pyspark.sql import SparkSession

In [40]:
spark = SparkSession.builder \
    .appName("Spark SQL Thrift") \
    .enableHiveSupport() \
    .config("spark.sql.catalogImplementation", "hive") \
    .getOrCreate()

In [41]:
df = spark.read.csv(".././Retail_Transaction_Dataset.csv", header=True, inferSchema=True)

In [42]:
spark.sql("CREATE DATABASE IF NOT EXISTS retail_db")

25/06/01 16:45:18 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
25/06/01 16:45:18 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

DataFrame[]

In [43]:
df.write.mode("overwrite").saveAsTable("retail_db.retail_transactions")

25/06/01 16:45:18 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
25/06/01 16:45:22 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
25/06/01 16:45:22 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
25/06/01 16:45:22 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
25/06/01 16:45:22 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

In [44]:
spark.sql("Select * from retail_db.retail_transactions").show()

+-----------------+----------+-----------+-----------+----------------+-------------+--------------------+---------------+---------------+-----------+
|       CustomerID| ProductID|   Quantity|      Price| TransactionDate|PaymentMethod|       StoreLocation|ProductCategory|DiscountApplied|TotalAmount|
+-----------------+----------+-----------+-----------+----------------+-------------+--------------------+---------------+---------------+-----------+
|        Perezfurt| WY 34530"| Home Decor|9.975989279|     46.25422312|         NULL|                NULL|           NULL|           NULL|       NULL|
|            31584|         A|          5|95.55857598| 12/8/2023 14:04|         Cash|  Unit 4573 Box 1143|           NULL|           NULL|       NULL|
|    DPO AE 64751"|     Books|6.047463833|448.8985283|            NULL|         NULL|                NULL|           NULL|           NULL|       NULL|
|           798751|         A|          6|81.25929657|  5/4/2023 22:53|         Cash|    0715 Scott Route|           NULL|           NULL|       NULL|
|West Samanthaland| NY 04986"| Home Decor|5.327160118|     461.5829024|         NULL|                NULL|           NULL|           NULL|       NULL|
|           884167|         A|          9|68.82946262| 12/24/2023 3:16|       PayPal|328 Whitney Valle...|           NULL|           NULL|       NULL|
|     South George| TX 21192"|      Books|8.577181208|      566.332514|         NULL|                NULL|           NULL|           NULL|       NULL|
|           523507|         D|          9|63.62406827| 4/19/2024 13:25|       PayPal|41986 Moore Manor...|           NULL|           NULL|       NULL|
| Port Cynthiastad| OK 09806"|      Books|5.105582876|     543.3811986|         NULL|                NULL|           NULL|           NULL|       NULL|
|           105466|         C|          3|13.07171646| 10/1/2023 15:12|   Debit Card|53430 Thomas Trac...|           NULL|           NULL|       NULL|
|     Lake Michael| LA 15215"|   Clothing|6.130508818|     36.81106119|         NULL|                NULL|           NULL|           NULL|       NULL|
|           446199|         A|          8|79.79583831|   8/2/2023 1:45|   Debit Card|3391 Tara Pass Su...|           NULL|           NULL|       NULL|
|     Port Cynthia| ID 36905"| Home Decor|0.653503561|     634.1949573|         NULL|                NULL|           NULL|           NULL|       NULL|
|           652799|         A|          8|55.11801836|  5/24/2023 3:20|   Debit Card|70449 Christopher...|           NULL|           NULL|       NULL|
|       North Mary| AR 97949"| Home Decor|12.54690903|     385.6192859|         NULL|                NULL|           NULL|           NULL|       NULL|
|           775983|         C|          9|99.72693745|  7/28/2023 7:12|  Credit Card|    6824 Megan Coves|           NULL|           NULL|       NULL|
|      Mahoneyfurt| HI 93591"|      Books| 16.8474313|     746.3295916|         NULL|                NULL|           NULL|           NULL|       NULL|
|           776568|         A|          1|56.69993353|   9/3/2023 1:19|         Cash|5449 Jason Isle A...|           NULL|           NULL|       NULL|
|   Port Janetview| WV 23852"|   Clothing|12.15569409|     49.80766306|         NULL|                NULL|           NULL|           NULL|       NULL|
|           543696|         B|          5|71.09311237|12/21/2023 17:38|  Credit Card|  102 Robinson Place|           NULL|           NULL|       NULL|
+-----------------+----------+-----------+-----------+----------------+-------------+--------------------+---------------+---------------+-----------+
only showing top 20 rows

In [45]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
|retail_db|
+---------+

In [47]:
spark.stop()